@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #FB6A6A;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.divider {
  display: block;
  height: 5px;
  width: 100%;
  background-color: #FFFFFF;
  margin: 20px 0; }

.menu, .menu2 {
  grid-column: span 12;
  font-family: "Roboto";
  font-weight: 400;
  height: 45px;
  background-color: #545454; }

.menu__list, .menu2__list {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.menu__listItem, .menu2__listItem {
  display: inline-block;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
  color: #848484;
  cursor: pointer; }

.menu--active, .menu2--active, .kontonavn, .followbut, .antaljokes, .follows, .likes {
  color: white; }

.menu__listItem {
  box-sizing: border-box; }

.menu--active {
  box-shadow: inset 0 -5px 0 #0B0B0B; }

.menu2--active {
  background-color: #424242; }

.jokeContainer {
  min-height: 200px;
  grid-column: span 12; }
  .jokeContainer .jokeContainer__header {
    width: 100%;
    height: 50px;
    background-color: #6188D7; }
  .jokeContainer .jokeContainer__joke {
    padding: 10px 10px 10px 15px;
    min-height: 200px;
    background-color: #7CA6FB;
    white-space: pre-line;
    font-size: 1.2rem;
    font-family: 'Roboto';
    color: #E5E5E5; }
  .jokeContainer .jokeContainer__footer {
    width: 100%;
    height: 50px;
    background-color: #6188D7; }
  .jokeContainer .jokeContainer__avatar {
    height: 30px;
    padding: 10px 0 0 15px; }
  .jokeContainer .jokeContainer__username {
    display: inline-block;
    vertical-align: top;
    color: #E5E5E5;
    line-height: 50px;
    font-size: 1.1rem; }
  .jokeContainer .jokeContainer__crown {
    display: inline-block;
    width: 20px;
    vertical-align: top;
    margin-top: 15px; }
  .jokeContainer .jokeContainer__menu {
    width: 25px;
    float: right;
    margin: 10px 15px 0 0; }
  .jokeContainer .jokeContainer__like {
    width: 30px;
    padding: 10px 0 0 15px; }

.writeJoke {
  grid-column: 1/13;
  height: 250px;
  border: none;
  margin: 25px 15px;
  resize: none; }

.jokeKategori, .jokeInput {
  border: none;
  height: 35px;
  background-color: white; }

.jokeKategori {
  grid-column: 1/5;
  margin-left: 15px; }

.jokeInput {
  grid-column: 9/13;
  margin-right: 15px; }

.searchForm {
  position: relative;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: 1fr 9fr;
  height: 45px;
  background-color: #545454; }
  .searchForm .searchForm__input {
    margin: 10px 15px 0 0;
    height: 25px;
    border: none; }
  .searchForm .searchForm__icon {
    margin: 10px 0 0 15px;
    padding: 5px 5px;
    height: 15px;
    background-color: white; }
  .searchForm .searchForm__list {
    position: absolute;
    top: 40px;
    background-color: #FFFFFF; }

/*min eller andres profil*/
.antaljokes, .follows, .likes {
  margin-right: 7px;
  margin-top: 15px;
  text-align: center; }

/*boksen der indenholder alt info */
.minprofil {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100px;
  background-color: #E5DDCE;
  grid-column: span 12; }

.kontonavn {
  grid-column: 1/8;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 15px; }

.Profilbillede {
  grid-column: 3/3;
  width: 40px;
  margin-bottom: 10px; }

/*knap til at følge og unfollow*/
.followbut {
  grid-column: 9/12;
  height: 30px;
  background-color: #3F6648;
  border: 0;
  margin: 10px; }

/* Her er hvor man kan se hvor mange jokes, følgere og likes man har */
.antaljokes {
  grid-column: 9/9; }

/*# sourceMappingURL=casperstyle.css.map */
