*{
	margin:0;
	padding:0;
}

$headerFont:'Roboto';


body{
	background-color: #FB6A6A;
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.divider{
	display: block;
	height:5px;
	width:100%;
	background-color: #FFFFFF;
	margin:20px 0;
}

%menu{
	grid-column:span 12;
	font-family: $headerFont;
	font-weight: 400;
	height:45px;
	background-color:#545454;
}
%menu__list{
	height:100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
%menu__listItem{
	display: inline-block;
	text-align: center;
	line-height: 45px;
	text-transform: uppercase;
	color:#848484;
	cursor: pointer;
}
%menu--active{
	color:white;
}


.menu{

	@extend %menu;
}
.menu__list{
	@extend %menu__list;
}
.menu__listItem{
	box-sizing: border-box;
	@extend %menu__listItem;
}
.menu--active{
	@extend %menu--active;
	box-shadow: inset 0 -5px 0 #0B0B0B;
}



.menu2{
	@extend %menu;
}
.menu2__list{
	@extend %menu__list;
}
.menu2__listItem{
	@extend %menu__listItem;
}
.menu2--active{
	@extend %menu--active;
	background-color: #424242;
}


.jokeContainer{
	min-height: 200px;
	grid-column:span 12;
	.jokeContainer__header{
		width:100%;
		height:50px;
		background-color: #6188D7;
	}
	.jokeContainer__joke{
		padding:10px 10px;
		min-height:200px;

		background-color:#7CA6FB;
		white-space: pre-line;
		font-size: 1.2rem;
		font-family: 'Roboto';
		color:#E5E5E5;
	}
	.jokeContainer__footer{
		width:100%;
		height:50px;
		background-color: #6188D7;
	}
	.jokeContainer__avatar{
		height: 30px;
		padding:10px 0 0 10px;
	}
	.jokeContainer__username{
		display: inline-block;
		vertical-align: top;
		color:#E5E5E5;
		line-height: 50px;
		font-size: 1.1rem;
	}
	.jokeContainer__crown{
		display: inline-block;
		width:20px;
		vertical-align: top;
		margin-top: 15px;
	}
	.jokeContainer__menu{
		width:25px;
		float:right;
		margin:10px 25px 0 0;
	}
	.jokeContainer__like{
		width:30px;
		padding:10px 0 0 10px;
	}
}


/*min profil follow*/
.minprofil{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	height: 100px;
	background-color: #E5DDCE;
	grid-column: span 12;
	 
}

.kontonavn{
	grid-column: 1/8;
	margin-top: 20px;
	margin-bottom: 0;
	margin-left: 15px;
	color: white;
}
.Profilbillede{
	grid-column: 3/3;
	width: 40px;
	margin-bottom: 10px;
	
}
.followbut{
	grid-column: 9/12;
	height: 30px;
	background-color: #3F6648;
	border: 0;
	color:white;
	margin: 10px;
	
}
.antaljokes{
	grid-column: 9/9;
	margin-top: 15px;
	text-align: center;
	margin-right: 7px;
	color:white;
	
}
.follows{
	margin-right: 7px;
	margin-top: 15px;
	text-align: center;
	color:white;
}
.likes{
	margin-right: 7px;
	margin-top: 15px;
	text-align: center;
	color:white;
}

